<article class="post card my-4 shadow">
    <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi bi-person-circle"></i> {{ user.username }} | {{ created_at }}
        </h6>
        <p class="card-text text-justify">{{ post_content }}</p>
    </div>
    <div class="card-footer text-center">
        <strong><i class="bi bi-chat-dots"></i> {{ comments.length }} comment(s)</strong>
    </div>
</article>